@import "utils/variable";
@import "utils/mixin";
@import "utils/fonction";
@import "utils/placeholder";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

@media screen and (max-width: 480px) {
  body {
    width: 100%;
    margin: 0%;
    padding: 0%;
  }

}
