@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@media screen and (max-width: 480px) {
  * {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }

  /***********FOOTER************/
  .footer {
    padding: 1.5rem;
    margin: 0%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #363535;
  }
  .footer .footer__img img {
    width: 110px;
    padding-bottom: 17px;
  }
  .footer .footer__text a {
    padding: 4px;
    display: flex;
    flex-direction: row;
    color: #fff4f4;
    text-decoration: none;
    font-size: 19px;
  }

  .fa-utensils:before {
    padding-right: 13px;
    font-size: 14px;
  }

  .fa-hands-helping:before {
    font-size: 13px;
    padding-right: 9px;
  }

  .block {
    margin: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 35px;
  }
  .block .block__titre {
    width: 100%;
    padding: 18px;
    font-size: 25px;
    margin-top: 20px;
  }

  .carte {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 2px 3px 10px 5px rgba(0, 0, 0, 0.1);
  }
  .carte__image img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
  }
  .carte__txtbottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    font-size: 20px;
    color: rgba(95, 93, 93, 0.719);
  }

  .carte a {
    text-decoration: none;
    color: black;
  }

  .carte strong {
    font-size: 22px;
    color: #000;
  }

  .fa-heart:before {
    font-size: 28px;
    color: rgba(95, 93, 93, 0.719);
  }

  #restaurant {
    background-color: #f2f2f2;
  }

  #fonctionnement {
    margin: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .fonctionnement__titre {
    width: 100%;
    padding: 18px;
    font-size: 25px;
    margin-top: 20px;
  }

  .menu {
    margin: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .menu .menu__liste-puce {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }
  .menu__choose {
    border-radius: 20px;
    box-shadow: 2px 3px 10px 5px rgba(0, 0, 0, 0.1);
    width: 85%;
    font-size: 16px;
    flex-wrap: wrap;
    font-weight: bold;
    color: black;
    padding: 20px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    right: 13px;
  }

  .menu a {
    margin: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 15px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
  }

  .numbers {
    background-color: #a05bf0;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 1;
  }

  .fa-store:before {
    content: "";
    font-size: 20px;
    color: rgba(95, 93, 93, 0.719);
  }

  .fa-list-ul:before {
    content: "";
    font-size: 20px;
    color: rgba(95, 93, 93, 0.719);
  }

  .fa-mobile-alt:before {
    content: "";
    font-size: 22px;
    color: rgba(95, 93, 93, 0.719);
  }

  .reservation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f2f2f2;
    padding-bottom: 50px;
  }
  .reservation .reservation__titre {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .reservation .reservation__bouton {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  .reservation .reservation__bouton .reservation__paragraphe {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .reservation p {
    padding-bottom: 18px;
    text-align: center;
    font-size: 18px;
    width: 100%;
    color: rgba(95, 93, 93, 0.719);
  }

  .reservation h1 {
    text-align: center;
    font-size: 25px;
    padding: 15px;
    padding-top: 35px;
  }

  .reservation input {
    width: auto;
    padding: 15px;
    border-radius: 30px;
    border: none;
    color: white;
    font-size: 17px;
    background: linear-gradient(#ff40dfc4, #7014daa8);
  }

  .localisation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #d8d7d793;
  }

  .textloc {
    padding: 15px;
  }

  .entete {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 1px 1px 2px rgba(186, 186, 187, 0.5);
  }
  .entete .entete__logotop img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    padding: 15px;
    padding-top: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
