@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
.top,
.menu__block,
.btn,
footer {
  animation: block 1.5s ease-in forwards;
}

@keyframes block {
  from {
    opacity: 1;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.menu__carte:nth-of-type(1) {
  animation: carte 0.5s both ease-in-out;
  animation-delay: 0.5s;
}

.menu__carte:nth-of-type(2) {
  animation: carte 0.5s both ease-in-out;
  animation-delay: 0.9s;
}

.menu__carte:nth-of-type(3) {
  animation: carte 0.5s both ease-in-out;
  animation-delay: 1.3s;
}

.menu__carte:nth-of-type(4) {
  animation: carte 0.5s both ease-in-out;
  animation-delay: 1.7s;
}

@keyframes carte {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.check {
  display: none;
  align-items: center;
  justify-content: center;
  background: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 25px;
}

.fa-check-circle:before {
  content: "";
  font-size: 25px;
  color: #fff;
  font-weight: bold;
}

.menu__carte:hover .check {
  display: block;
  content: "";
  animation: check 400ms ease-in-out;
}

.menu__carte:hover .price {
  animation: check 300ms ease-in-out;
}

@keyframes check {
  from {
    transform: translateX(90px);
  }
  to {
    transform: translateX(0px);
  }
}
.menu__carte:hover .fa-check-circle {
  content: "";
  font-size: 25px;
  color: #fff;
  font-weight: bold;
  animation: rotate 700ms cubic-bezier(0.4, 0, 1, 1);
}

@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/****BODY****/
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0%;
  padding: 0%;
  scroll-behavior: smooth;
}

/****FOOTER****/
.footer {
  padding: 1.5rem;
  margin: 0%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #363535;
}
.footer .footer__img img {
  width: 110px;
  font-family: "Shrikhand", cursive;
  padding-bottom: 17px;
}
.footer .footer__text a {
  padding: 4px;
  display: flex;
  flex-direction: row;
  color: #fff4f4;
  text-decoration: none;
  font-size: 19px;
}
.footer .fa-utensils:before {
  padding-right: 13px;
  font-size: 14px;
}
.footer .fa-hands-helping:before {
  font-size: 13px;
  padding-right: 9px;
}

/****BOUTON****/
.btn {
  margin: 0%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #f2f2f2;
}

.btn input {
  margin-bottom: 77px;
  cursor: grab;
  width: auto;
  padding: 17px;
  border-radius: 30px;
  border: none;
  color: white;
  font-size: 17px;
  font-weight: 500;
  background: linear-gradient(#FF79DA, #9356DC);
  padding-left: 3rem;
  padding-right: 3rem;
}

/****HEADER****/
.entete {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 4px 1px 1px 2px rgba(186, 186, 187, 0.5);
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.89);
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.entete .entete__logotop img {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 220px;
  padding: 17px;
  padding-top: 20px;
  font-family: "Shrikhand", cursive;
}
.entete #fleche {
  display: block;
}

#fleche a {
  display: flex;
  position: absolute;
  left: 1rem;
  bottom: 1.3rem;
  color: black;
  text-decoration: none;
}

#fleche i {
  font-size: 20px;
}

/****MAIN****/
main {
  margin: 0%;
  width: 100%;
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  margin: 0%;
  width: 100%;
}
.menu .menu__block {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  margin-left: 10px;
  margin-right: 27px;
}
.menu .menu__titre {
  margin-left: 15px;
  width: 45px;
  border-bottom: 3px solid #99E2D0;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.603);
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-bottom: 4px;
}
.menu .menu__carte {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: #fff;
  width: 100%;
  margin: 7px;
  border-radius: 17px;
  box-shadow: 2px 3px 10px 2px rgba(0, 0, 0, 0.1);
  font-size: 19px;
  overflow: hidden;
  cursor: grab;
}

.space {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.column {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 15px;
}

.menu p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 4px;
  font-size: 16px;
  color: rgba(95, 93, 93, 0.719);
}

.menu strong {
  font-weight: 600;
}

.menu span {
  font-weight: bold;
}

.price {
  display: flex;
  align-items: flex-end;
  margin-left: 20px;
  font-size: 17px;
  margin: 15px;
}

.image-top {
  background-color: #f2f2f2;
}

.top {
  position: relative;
  bottom: 2.1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background: #f2f2f2;
}
.top .top__title {
  padding-top: 30px;
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  padding-left: 15px;
}

.top i {
  display: flex;
  align-items: flex-end;
  font-size: 28px;
  color: rgba(95, 93, 93, 0.719);
  padding-right: 20px;
  padding-bottom: 9px;
}

.image {
  overflow: hidden;
  height: 15rem;
  display: flex;
}
.image .image__toa img {
  display: flex;
  width: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=menu.css.map */
