@import "../utils/variable";

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*** ANIMATIONS MENU ***/
.top,
.menu__block,
.btn,
footer {
  animation: block 1.5s ease-in forwards;
}
@keyframes block {
  from {
    opacity: 1;
    transform: translateY(-15px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.menu__carte:nth-of-type(1) {
  animation: carte 0.5s both ease-in-out;
  animation-delay: 0.5s;
}
.menu__carte:nth-of-type(2) {
  animation: carte 0.5s both ease-in-out;
  animation-delay: 0.9s;
}
.menu__carte:nth-of-type(3) {
  animation: carte 0.5s both ease-in-out;
  animation-delay: 1.3s;
}
.menu__carte:nth-of-type(4) {
  animation: carte 0.5s both ease-in-out;
  animation-delay: 1.7s;
}
@keyframes carte {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.check {
  display: none;
  align-items: center;
  justify-content: center;
  background: $tertiary;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 24.3px;
}

.fa-check-circle:before {
  content: "\f058";
  font-size: 25px;
  color: #fff;
  font-weight: bold;
}
.menu__carte:hover .check {
  display: block;
  content: "";
  animation: check 200ms ease-in-out;
}
.menu__carte:hover .price {
  animation: check 100ms ease-in-out;
}
@keyframes check {
  from {
    transform: translateX(90px);
  }
  to {
    transform: translateX(0px);
  }
}
.menu__carte:hover .fa-check-circle {
  content: "\f058";
  font-size: 25px;
  color: #fff;
  font-weight: bold;
  animation: rotate 500ms cubic-bezier(0.4, 0, 1, 1);
}
@keyframes rotate {
  from {
    transform: rotate(-130deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.coeur:hover {
  > .far {
    display: none;
  }
}
.coeur:hover {
  > .fas {
    display: block;
    content: "";
    position: relative;
    top: 30px;
    animation: coeur 800ms ease-in-out forwards;
  }
}

@keyframes coeur {
  0% {
    transform: scalex(1.2) scaleY(0.7);
  }
  20% {
    transform: scaleX(0.7) scaleY(1.2);
  }
  40% {
    transform: scaleX(1.2) scaleY(0.7);
  }
  60% {
    transform: scalex(0.7) scaleY(1.2);
  }
  80% {
    transform: scaleX(1.2) scaleY(0.7);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}
.btn {
  > input {
    animation: bouton 1.2s infinite;
  }
  > input:hover {
    opacity: 0.7;
  }
}

/*** ANIMATIONS HOMEPAGE ***/
.map:hover {
  background-color: rgba(214, 137, 250, 0.226);
  .fas {
    color: $primary;
    opacity: 1;
  }
}
.carte__txtbottom .coeur:hover {
  > .far {
    display: none;
  }
}
.carte__txtbottom .coeur:hover {
  > .fas {
    display: block;
    content: "";
    margin-top: -45px;
    animation: coeur 800ms ease-in-out forwards;
  }
}
.carte {
  animation: opacite 1.5s ease-in forwards;
}
@keyframes opacite {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fonctionnement__menu:nth-of-type(1) {
  animation: carte 1.5s ease-in forwards;
  animation-delay: 0s;
}
.fonctionnement__menu:nth-of-type(2) {
  animation: carte 1.5s ease-in forwards;
  animation-delay: 0.5s;
}
.fonctionnement__menu:nth-of-type(3) {
  animation: carte 1.5s ease-in forwards;
  animation-delay: 1s;
}

.reservation__btn {
  > a {
    animation: bouton 1.2s infinite;
  }
  > a:hover {
    opacity: 0.7;
  }
}
@keyframes bouton {
  from {
    box-shadow: 0 0 0 10px rgba(185, 2, 241, 0.158);
  }
}
/** loading spinner **/
.spinner {
  display: flex;
  padding: 0;
  margin: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  position: fixed;
  z-index: 9999;

  animation: out 3.5s linear forwards;
}
.spinner::after {
  display: none;
}
@keyframes out {
  from {
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.spinner img {
  width: 200px;
  position: fixed;
  top: 60%;
  left: 50%;
  margin: -100px;
}
.lds-dual-ring {
  position: fixed;
  top: 40%;
  left: 50%;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgb(240, 35, 148);
  border-color: rgb(177, 21, 169) transparent rgb(108, 4, 139) transparent;
  animation: lds-dual-ring 1s linear infinite;
  margin: -27px;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
