@import "../utils/variable";
@import "../utils/mixin";
@import "../components/animation";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

/*******BODY********/
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
/***********FOOTER************/
.footer {
  @include footer;
}
/*********** RESTAURANT**********/
#restaurant {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
}
.special-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.block {
  @include dimention;
  @include flex-column;
  padding-bottom: 35px;
  .block__titre {
    width: 100%;
    margin-top: 15px;
    padding: 20px;
    font-size: 25px;
    padding-bottom: 30px;
  }
  .block__vert {
    width: 100%;
  }
}
.vert p {
  display: flex;
  justify-content: center;
  background-color: $tertiary;
  color: rgba(8, 119, 82, 0.836);
  padding: 7px 13px 7px 13px;
  border-radius: 3px;
  font-size: 17px;
  position: absolute;
  right: 1.3rem;
  font-weight: bold;
  margin: 13px;
}
.carte {
  margin-bottom: 25px;
  @include flex-column;
  width: 90%;
  border-radius: 20px;
  background-color: white;
  @include shadow;
  &__image img {
    height: 180px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
  }

  &__txtbottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    padding-right: 17px;
    padding-left: 14px;
    @include texte-light;
  }
}
.carte a {
  text-decoration: none;
  color: black;
  width: 100%;
}
.carte strong {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.719);
}

.coeur {
  > .fas {
    display: none;
    content: "";
    font-size: 26.6px;
    margin: 7px;
    background-image: linear-gradient(to top, $secondary, $secondary, $primary);
    -webkit-background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
  }
}

.coeur {
  > .far {
    display: flex;
    align-items: flex-end;
    font-size: 28px;
    color: $text-light;
    margin: 7px;
  }
}

#restaurant {
  background-color: $background-color;
}
/*********** fonctionnement *********/
#fonctionnement {
  @include dimention;
  @include flex-column;
  padding-right: 10px;
  padding-bottom: 40px;

  .fonctionnement__titre {
    width: 100%;
    padding: 20px;
    font-size: 25px;
    margin-top: 20px;
    padding-bottom: 30px;
  }
  .fonctionnement__menu {
    @include flex-row;
    @include dimention;

    margin-bottom: 34px;
  }
}
.map {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include dimention;
  border-radius: 20px;
  @include shadow;
  width: 80%;
  font-size: 16px;
  font-weight: 200;
  color: black;
  background-color: $background-color;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 15px;
  cursor: grab;
  > .fas {
    opacity: 0.4;
  }
}

.numbers {
  @include flex-row;
  background-color: $primary;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  color: white;
  position: relative;
  left: 15px;
}
.fa-store:before {
  content: "\f54e";
  font-size: 20px;

  padding-right: 25px;
  padding-left: 40px;
}
.fa-list-ul:before {
  content: "\f0ca";
  font-size: 20px;

  padding-right: 25px;
  padding-left: 40px;
}
.fa-mobile-alt:before {
  content: "\f3cd";
  font-size: 22px;
  padding-right: 25px;
  padding-left: 40px;
}
.reservation {
  @include flex-column;
  background-color: $background-color;
  padding-bottom: 50px;

  .reservation__titre {
    @include flex-column;
    font-family: $font-logo;
  }

  .reservation__btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;

    .reservation__paragraphe {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}
.reservation p {
  padding-bottom: 18px;
  text-align: center;
  @include texte-light;
  width: 100%;
}
.reservation a {
  text-decoration: none;
}
.reservation h1 {
  text-align: center;
  font-size: 25px;
  padding: 15px;
  padding-top: 35px;
}
.reservation a {
  @include bouton;
}
.localisation {
  @include flex-row;
  background-color: #d8d7d781;
}
.textloc input {
  padding: 9px;
  padding-bottom: 15px;
  padding-top: 15px;
  outline: none;
  background-color: #d8d7d71e;
  border: none;
  display: flex;
  justify-content: center;
  font-size: 15px;
  text-indent: 20px;
}
.textloc input::placeholder {
  font-size: 15px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.63);
}
/***********HEADER********/
.entete {
  @include header(none);
}
