@import "../utils/variable";
@import "../utils/mixin";
@import "../utils/fonction";
@import "../utils/placeholder";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0%;
  padding: 0%;
  scroll-behavior: smooth;
}
.footer {
  @include footer;
}
.btn {
  @include dimention;
  @include flex-column;
  background: $background-color;
}
.btn input {
  margin-bottom: 77px;
  @include bouton;
  padding-left: 3rem;
  padding-right: 3rem;
}
.entete {
  @include header(block);
  @include flex-row;
}
#fleche a {
  display: flex;
  position: absolute;
  left: 1rem;
  bottom: 1.3rem;
  color: black;
  text-decoration: none;
}
#fleche i {
  font-size: 20px;
}
article {
  @include dimention;
  background: $background-color;
  display: flex;
  flex-direction: column;
  align-items: center;

}
article a {
  text-decoration: none;
  color: black;
}
.menu {
  @include dimention;
  
  .menu__block {
    display: flex;
    flex-direction: column;
    
     
    padding-bottom: 30px;
    margin-left: 10px;
    margin-right: 27px;
  }
  .menu__titre {
    margin-left: 15px;
   width: 45px;
    border-bottom: 3px solid $tertiary;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.603);
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 15px;
    padding-bottom: 4px;
  }
  .menu__carte {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: #fff;
    padding: 15px;
    width: 100%;
    margin: 7px;
    border-radius: 17px;
    @include shadow;
    font-size: 19px;
    overflow: hidden;
  }
}


.column{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 4px;
  font-size: 16px;
  color: $text-light;
}
.menu strong{
  font-weight: 600;

}
.menu span{
  position: relative;
  top: 0.8rem;
  font-weight: bold;
}
.price{
  display: flex;
  align-items: flex-end;
  margin-left: 20px;
  font-size: 17px;
}
.image-top{
  background-color: $background-color;

}
.top{
  position: relative;
  bottom: 2.1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  border-top-left-radius:  40px;
  border-top-right-radius: 40px;
  background:$background-color;
 
  .top__title{
    padding-top: 30px;
     font-family: $font-logo;
     font-size: 28px;
     padding-left: 15px;
  }
}
.top i{
  display: flex;
  align-items: flex-end;
  font-size: 28px;
  color: $text-light;
  padding-right: 20px;
  padding-bottom: 9px;
}
.image {
  overflow: hidden;
  height: 15rem;
  display: flex;
  .image__toa img{
   display: flex;
   width: 100%;
    object-fit: cover;
  }

}
