$footer-background: rgb(54, 53, 53);
$color: rgb(255, 244, 244);
$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$background-color: #f2f2f2;
$text-light: rgba(95, 93, 93, 0.719);
$font-logo: "Shrikhand", cursive;
